* {
    margin: 0;
    padding: 0;
}



body {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;

}


/* Section 1 */

.section-1 {
    background-color: #1f2937;
    height: 535px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: white;
}

h2 {
    color: white;
    font-size: 24px;
}

ul {
    list-style: none;
    font-size: 18px;
    color: #E5E7Eb;
    opacity: 75%;
    display: flex;
    gap: 20px;
}



.header {
    /* background-color: rgb(160, 86, 97); */
    display: flex;
    justify-content: space-between;
    padding: 15px 205px 130px 205px;
}

.header a {
  text-decoration: none;
}


.content {
    display: flex;
    /* background-color: lightgreen; */
    height: 235px;
    padding: 0px 200px 0px 200px;
    gap: 50px;
}

.content-left {
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    justify-content: center;
    max-height: 235px;
}

.content-left p {
    font-size: 18px;
    color: white;
    opacity: 75%;
}


.main {
    width: 500px;
    display: flex;
    height: 300px;
}

#button {
    padding: 12px;
    width: 125px;
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
}

#button:hover {
    box-shadow: inset 125px 0 0 0 white;
    color: black;
    cursor: pointer;
}


/* Section 2 */

.beginner, .intermediate, .advanced, .kid {
    width: 220px;
    height: 300px;
}

.courses {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 800px;

}

.course-images {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    padding-top: 30px;
}

.section-2 {
    padding-bottom: 100px;
    padding-top: 30px;
}

figcaption {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

/* Section 3 */

.section-3 {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.section-3 span {
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
    opacity: 80%;
    display: flex;
    padding: 0px 250px 0px 250px;
}

.section-3 p {
    font-weight: 700;
    display: flex;
    padding-left: 400px;
    padding-top: 50px;
}

/* Section 4 */

.card {
    padding: 70px;
    background-color: #3882F6;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;


}

.left {
    display: flex;
    flex-direction: column;
    color: white;
}

.left h4 {
    font-size: 24px;
}

.left p {
    opacity: 75%;
}

#button-2 {
    height: 40px;
    width: 120px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    
}

#button-2:hover {
    background-color: white;
    color: #3882F6;
    cursor: pointer;
}



.section-4 {
    padding: 80px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;

}


/* footer */

.footer span {
    font-size: 20px;
    color: white;
    opacity: 50%;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50px;

}

#lessons {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  #lessons:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #lessons:hover:before, #lessons:focus:before, #lessons:active:before {
    left: 0;
    right: 0;
  }

  #free {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  #free:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #free:hover:before, #free:focus:before, #free:active:before {
    left: 0;
    right: 0;
  }

  #contact {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  #contact:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #contact:hover:before, #contact:focus:before, #contact:active:before {
    left: 0;
    right: 0;
  }




