* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
}


/* Section 1 */

.section-1 {
    background-color: #1f2937;
    height: 535px;
}

h1 {
    font-size: 48px;
    color: white;
}

h2 {
    color: white;
    font-size: 24px;
}

ul {
    list-style: none;
    font-size: 18px;
    color: #E5E7Eb;
    opacity: 75%;
    display: flex;
    gap: 20px;
}

.header {
    /* background-color: rgb(160, 86, 97); */
    display: flex;
    justify-content: space-between;
    padding: 15px 205px 130px 205px;
}

.content {
    display: flex;
    /* background-color: lightgreen; */
    height: 235px;
    padding: 0px 200px 0px 200px;
}

.content-left {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.content-left p {
    font-size: 18px;
    color: white;
    opacity: 75%;
}

.content-right {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.main {
    width: 500px;
}

#button {
    padding: 12px;
    width: 125px;
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
}

#button:hover {
    box-shadow: inset 125px 0 0 0 white;
    color: black;
}


/* Section 2 */

.beginner, .intermediate, .advanced, .kid {
    width: 220px;
    height: 300px;
}

.courses {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 800px;

}

.course-images {
    display: flex;
    justify-content: space-evenly;
}

.section-2 {
    padding-bottom: 100px;
    padding-top: 30px;
}

figcaption {
    display: flex;
    justify-content: space-evenly;
}

/* Section 3 */



